@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#dedication header p{
	font-variant: small-caps;
	line-height: 1.5;
	margin-bottom: 1em;
}

#dedication header{
	margin-top: 3em;
}

#dedication header b{
	font-size: larger;
}

#dedication > p:first-of-type + p{
	text-indent: 0;
}

#chapter-15 blockquote > p{
	font-style: italic;
}
